* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-titles: 'Staatliches', sans-serif;
    --ff-pResponsive: 'Palanquin', sans-serif;
    --ff-pDesktop: 'Roboto', sans-serif;

    --fs-h1: 4rem;
    --fs-h2-p: 2rem;

    --main-background: #EFF1FF;
    --tag-background: #FEEAFA;
    --h1-background: #CBC0D3;
    --header-background: #8E9AAF;
    --text-color: #5C6981;
    --footer-color: #4A4E69;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#intro {
    min-height: 100vh;
    background-color: var(--header-background)
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3.2rem;
}

#intro a {
    padding-top: 3.2rem;
}

#intro h1 {
    font-family: var(--ff-titles);
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 3.4rem;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#h1-box {
    width: 100%;

    background-color: var(--h1-background);

    padding: 3rem 0
}

#p-box {
    padding: 0 5rem;
    margin-bottom: 12.5rem;

    color: white;

    font-family: var(--ff-pDesktop);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
}

#products {
    margin: 0 auto;

    min-height: 100vh;
    max-width: 90%;

    padding: 64px 0;
}

.big-card {
    width: 22rem;
    height: 35rem;

    border-radius: 20px;
}

.small-card {
    width: 22rem;
    height: 15rem;

    border-radius: 20px;
}

#products .cards-wrapper {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        'D F H'
        'E F I'
        'E G I';

    margin-bottom: 5rem;

    animation: cardsup 700ms;
}

footer {
    font-family: var(--ff-pDesktop);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    color: var(--footer-color);
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--footer-color);
}

.mexican-palet {
    background-image: url(./src/images/mexican-palet.jpg);
    background-size: cover;
    background-position: 55% 45%;

    grid-area: D;
}

.bottle-icecream {
    background-image: url(./src/images/bottle-icecream.jpg);
    background-size: cover;
    background-position: 55% 45%;

    grid-area: F;
}

.vegan {
    background-image: url(./src/images/vegan.jpg);
    background-size: cover;

    grid-area: H;
}

.popsicle {
    background-image: url(./src/images/popsicle.jpg);
    background-size: cover;

    grid-area: E;
}

.experiense {
    background-image: url(./src/images/experiense.jpg);
    background-size: cover;

    background-position: 45% 45%;

    grid-area: I;
}

.ice-cream {
    background-image: url(./src/images/ice-cream.jpg);
    background-size: cover;

    background-position: 55% 25%;

    grid-area: G;

}

.card {
    position: relative;
}

.card span {
    position: absolute;

    top: 1.5rem;
    right: 1.5rem;

    color: var(--footer-color);
    background-color: var(--tag-background);

    padding:0.5rem 1rem;
    border-radius: 8px;

    font-family: var( --ff-titles);
    font-size: var(--fs-h2-p);

    animation: spanright 700ms 350ms forwards;

    opacity: 0;
}

@keyframes cardsup {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes spanright {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}